<!doctype html>
<html lang="en">
    <head>
        <%-include("../shared/meta")-%>
    </head>
    <body ng-app="legendwiki-app" ng-controller="quests" ng-class="{'modal-open': categoryActive}">
        <%-include("../shared/header")-%>
        <% let searchPart = (vm.query.search !== undefined ? "&search=" + vm.query.search : "") + (vm.query.stat !== undefined ? "&stat=" + vm.query.stat:"");
             let categoryPart = `${(vm.query.eraId ? `&eraId=${vm.query.eraId}`:"")}${(vm.query.areaId ? `&areaId=${vm.query.areaId}`:"")}`;
             let sortByPart = (vm.query.sortBy ? `&sortBy=${vm.query.sortBy}`:"");
             let sortAscPart = (vm.query.sortAsc ? `&sortAsc=${vm.query.sortAsc}`:"");
             let baseUrl = "/quests/index.html?";
             let searchBaseUrl = baseUrl + searchPart;
             let categoryBaseUrl = searchBaseUrl + categoryPart;
             let sortBaseUrl = categoryBaseUrl + sortByPart + sortAscPart;
         %>
        <div class="container-fluid">
            <div class="px-0">
                <div class="row">
                    <div class="categoryListBackground" ng-class="{active: categoryActive}" ng-click="categoryActive = false" style="cursor:default">
                      <div class="categoryListContainer" lh-isolate-click>
                        <div class="categoryListClose" ng-click="categoryActive = !categoryActive"><i class="fas fa-times"></i></div>
                        <h2>Areas</h2>
                        <ul class="categoryList">
                            <%for (let i = 0; i < vm.categories.length; ++i) {%>
                            <li> 
                                <a<%-(vm.categoryId == vm.categories[i].id && !vm.subcategoryId) ? ' class="active"' : ''%> href="<%-`${searchBaseUrl}&eraId=${vm.categories[i].id}`%>"><%=vm.categories[i].name%></a>
                                <%if(vm.categoryId == vm.categories[i].id) {%>
                                <ul>
                                    <%for (let j = 0; j < vm.categories[i].subcategories.length; ++j) {%>
                                    <li>
                                        <a<%-(vm.subcategoryId == vm.categories[i].subcategories[j].id) ? ' class="active"':''%> href="<%-`${searchBaseUrl}&eraId=${vm.categories[i].id}&areaId=${vm.categories[i].subcategories[j].id}`%>"><%=vm.categories[i].subcategories[j].name%></a>
                                    </li>
                                    <%}%>
                                </ul>
                                <%}%>
                            </li>
                            <%}%>
                        </ul>
                      </div>
                    </div>
                    <div class="col">
                        <div class="row text-center">
                            <h1 class="col-12">Quests</h1>
                        </div>
                        <div class="px-0 px-md-5">
                            <form action="<%-baseUrl%>">
                                <%if (vm.categoryId) {%>
                                <input type="hidden" name="eraId" value="<%-vm.categoryId%>">
                                <%}%>
                                <%if (vm.subcategoryId) {%>
                                <input type="hidden" name="areaId" value="<%-vm.subcategoryId%>">
                                <%}%>
                                <div class="row">
                                    <div class="input-group col-12">
                                        <div class="input-group-prepend d-block d-md-none">
                                            <button class="btn btn-outline-primary" type="button" ng-click="categoryActive = true">&nbsp;<i class="fas fa-caret-right"></i>&nbsp;
                                        </div>
                                        <%if (vm.activeCategory) {%>
                                        <div class="input-group-prepend">
                                            <a class="btn btn-outline-primary" role="button" href="<%-searchBaseUrl%>"><%=vm.activeCategory%>&nbsp;&nbsp;<i class="fas fa-times"></i></a>
                                        </div>
                                        <%}%>
                                        <input type="text" name="search" value="<%-vm.query.search%>" class="form-control" placeholder="Search by title, whois, area, or content..." lh-autofocus>
                                        <div class="input-group-append">
                                            <label for="statCheckbox" class="btn btn-outline-primary custom-control custom-checkbox mb-0" style="padding-left:2rem">
                                                <input type="checkbox" name="stat" value="true"<%-(vm.query.stat?" checked" : "")%> class="custom-control-input" id="statCheckbox">
                                                <label for="statCheckbox" class="custom-control-label" style="cursor:pointer">Stat</label>
                                            </label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><span class="d-none d-md-inline-block">Search</span><i class="d-inline-block d-md-none fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <%-include("../shared/pagination", {baseUrl: sortBaseUrl, page: vm.page, rows: vm.rows, resultLength: vm.results.length, moreResults: vm.moreResults})-%>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong class="float-left"><%-(vm.noSearch ? "Recently Modified":"Search Results")%></strong>
                                        <div class="float-right">
                                            <a href="<%-(locals.user ? "":"/login.html?returnUrl=")%>/quests/add.html">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-md table-hover table-striped table-bordered mb-0">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <% let sortClass = function(sortBy) {
                 if (vm.query.sortBy === sortBy)
                 return vm.query.sortAsc === "true" ? "fas fa-sort-up" : "fas fa-sort-down";
                 else if (!vm.query.sortBy)
                 return "fas fa-sort";
                 else
                 return "";
                 };%>
                 <th scope="col" class="text-center" ng-click="onColumnHeaderClicked('<%-`${categoryBaseUrl}&sortBy=title&sortAsc=${(vm.query.sortBy==="title"?!(vm.query.sortAsc==="true"):true)}`%>')" nowrap>Title&nbsp;<i class="<%-sortClass('title')%>"></i></th>
                 <th scope="col" class="text-center" ng-click="onColumnHeaderClicked('<%-`${categoryBaseUrl}&sortBy=areaName&sortAsc=${(vm.query.sortBy==="areaName"?!(vm.query.sortAsc==="true"):true)}`%>')" nowrap>Area&nbsp;<i class="<%-sortClass('areaName')%>"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%for (let i = 0; i < vm.results.length; ++i) {%>
                                                <tr ng-click="onQuestClicked('<%-vm.results[i].id%>')">
                                                    <td scope="row" class="font-weight-bold text-primary"><%=vm.results[i].title%><a class="float-right" href="/quests/details.html?id=<%-vm.results[i].id%>" target="_blank" ng-click="$event.stopPropagation()"><i class="fas fa-external-link-alt fa-lg"></i></a></td>
                                                    <td>
                                                        <%_if(vm.results[i].eraName) {%><span class="text-info">(<%=vm.results[i].eraName%>)</span><%}_%>
                                                        <%=vm.results[i].areaName_%>
                                                    </td>
                                                </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <%-include("../shared/pagination", {baseUrl: sortBaseUrl, page: vm.page, rows: vm.rows, resultLength: vm.results.length, moreResults: vm.moreResults})-%>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <%-include("../shared/footer")-%>
        <%-include("../shared/scripts")-%>
        <script>
            app.controller("quests", ["$scope", function($scope) {
                $scope.onQuestClicked = function(id) {
                    window.location = "/quests/details.html?id=" + id;
                };

                $scope.onColumnHeaderClicked = function(url) {
                    window.location = url;
                };
            }]);
        </script>
    </body>
</html>
