<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title><%-title%> | LegendHUB</title>
<meta name="description" content="LegendHUB is a community driven resource for all things LegendMUD, the Multi User Dungeon. Find all the information you need to play a legendary MUD.">

<meta property="og:site_name" content="LegendHUB" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%=title%>" />
<meta property="theme-color" content="#007bff" />

<%if (locals.cookies && locals.cookies.theme) {%>
<link id="theme" rel="stylesheet" href="/css/bootstrap-<%-locals.cookies.theme%>.min.css?v=<%-locals.version%>">
<%}else{%>
<link id="theme" rel="stylesheet" href="/css/bootstrap-dark.min.css?v=<%-locals.version%>">
<%}%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
