<!doctype html>
<html lang="en">
    <head>
        <%- include('shared/meta'); -%>
        <link href="https://www.legendhub.org/index.html" rel="canonical">
        <meta name="description" content="LegendHUB is a community driven resource for all things LegendMUD, the Multi User Dungeon. Find all the information you need to play a legendary MUD.">
        <meta property="og:description" content="LegendHUB is a community driven resource for all things LegendMUD, the Multi User Dungeon. Find all the information you need to play a legendary MUD." />
    </head>
    <body ng-app="legendwiki-app">
        <%- include('shared/header'); -%>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <%if (vm.type === "normal") {%>
                    <h1>Send Feedback</h1>
                    <%}else if (vm.type ==="error") {%>
                    <h1>Error Sending Feedback</h1>
                    <%}else if (vm.type ==="success") {%>
                    <h1>Feedback Sent!</h1>
                    <%}%>
                </div>
            </div>
            <%if (vm.type === "success") {%>
            <div class="row">
                <div class="col-12 text-center">
                    <p>Thank you for your feedback!</p>
                    <div class="row justify-content-center">
                        <a href="<%-vm.url%>" class="col-auto btn btn-outline-primary mr-3">Go to feedback</a>
                        <a href="/feedback.html" class="col-auto btn btn-outline-primary">Send more</a>
                    </div>
                </div>
            </div>
            <%}else{%>
            <div class="row">
                <div class="col-12 text-center">
                    <%if (vm.type === "error") {%>
                    <p class="text-danger"><%=vm.message%></p>
                    <%}else{%>
                    <p>Found a bug or have an idea to improve LegendHUB? Fill out the form below to let us know!</p>
                    <%}%>
                </div>
            </div>
            <div class="row">
                <form class="col-12" method="POST" action="/feedback.html">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Title</span>
                                </div>
                                <input name="feedbackTitle" class="form-control" maxlength="256" value="<%=vm.values.title%>" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <textarea name="feedbackBody" class="form-control" rows="10"><%=vm.values.body%></textarea>
                        </div>
                    </div>
                    <div class="form-group g-recaptcha" data-sitekey="<%= process.env.RECAPTCHA_SITEKEY %>"></div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <%}%>
            <br><br>
        </div>
        <%- include('shared/footer'); -%>
        <%- include('shared/scripts'); -%>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>
