<!doctype html>
<html lang="en">
<head>
    <%
    let searchPart = (vm.query.search !== undefined ? '&search=' + vm.query.search : '');
    let filterPart = (vm.query.filters ? '&filters=' + vm.query.filters : '');
    let sortByPart = (vm.query.sortBy ? '&sortBy=' + vm.query.sortBy : '');
    let sortAscPart = (vm.query.sortAsc ? '&sortAsc=' + vm.query.sortAsc : '');
    let pageBaseUrl = '/items/index.html?' + searchPart + filterPart + sortByPart + sortAscPart;
    let sortBaseUrl = '/items/index.html?' + searchPart + filterPart;
    %>
    <%- include('../shared/meta') %>
    <link href="https://www.legendhub.org<%-pageBaseUrl%>&page=<%-vm.page%>" rel="canonical">
    <meta name="robots" content="noindex">
</head>
<body ng-app="legendwiki-app" ng-controller="items">
    <%- include('../shared/header') %>
	<div class="container-fluid">
		<div class="px-0">
			<div class="row">
				<div class="col-12">
					<div class="row text-center">
						<h1 class="col-12">Items</h1>
					</div>
                    <div class="px-0 px-md-5">
                        <p class="text-info" ng-if="showFilters(<%- Object.keys(vm.selectedFilters).length > 0 %>)"<%- Object.keys(vm.selectedFilters).length > 0 ? "" : " ng-cloak" %>>Filters:
                            <%
                            for (let i = 0; i < vm.itemStatInfo.length; ++i) {
                            %>
                            <a href="" ng-if="isFilterEnabled('<%- vm.itemStatInfo[i].var %>', <%- vm.selectedFilters.hasOwnProperty(vm.itemStatInfo[i].var) %>)" ng-click="removeFilter('<%- vm.itemStatInfo[i].var %>')" class="badge badge-pill badge-info"<%- vm.selectedFilters.hasOwnProperty(vm.itemStatInfo[i].var) ? '' : ' ng-cloak' %>><%- vm.itemStatInfo[i].display %>&nbsp;<i class="fas fa-times"></i></a>
                            <% } %>
                        </p>
                        <p class="text-danger" ng-if="filtersUpdated" ng-cloak>You have updated your selection of filters. Please search again to apply them.</p>
						<form ng-submit="onSearchClicked()">
							<div class="row">
								<div class="input-group col-12">
                                    <input type="text" ng-model="searchString" class="form-control" placeholder="Search by name..." value="<%- vm.searchString %>" lh-autofocus>
									<div class="input-group-append">
										<button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#columnsModal" aria-expanded="false"><span class="d-none d-md-inline-block">Columns</span><i class="d-inline-block d-md-none fas fa-columns"></i></button>
										<button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#filtersModal" aria-expanded="false"><span class="d-none d-md-inline-block">Filters</span><i class="d-inline-block d-md-none fas fa-filter"></i></button>
										<button class="btn btn-primary" type="submit"><span class="d-none d-md-inline-block">Search</span><i class="d-inline-block d-md-none fas fa-search"></i></button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<br>
                    
                    <%-include("../shared/pagination", {baseUrl: pageBaseUrl, page: vm.page, rows: vm.rows, resultLength: vm.results.length, moreResults: vm.moreResults})%>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
                                    <strong class="float-left"><%-(vm.noSearch ? "Recently Modified":"Search Results")%></strong>
                                    <span class="float-right clickable">
                                        <% if (locals.user) { %>
                                        <a href="/items/add.html">
                                        <% } else { %>
                                        <a href="/login.html?returnUrl=/items/add.html">
                                        <% } %>
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </span>
								</div>
								<div class="table-responsive">
									<table class="table table-sm table-md table-hover table-striped table-bordered mb-0">
										<thead class="thead-dark">
											<tr>
                                                <% for (let i = 0; i < vm.itemStatInfo.length; ++i) { %>
                                                <th class="text-center" ng-if="showColumn('<%- vm.itemStatInfo[i].short %>', <%- vm.selectedColumns.includes(vm.itemStatInfo[i].short) %>)"ng-click="onColumnHeaderClicked('<%- sortBaseUrl + "&sortBy=" + vm.itemStatInfo[i].var + "&sortAsc=" + (vm.query.sortBy === vm.itemStatInfo[i].var ? !(vm.query.sortAsc === 'true') : false) %>')"<%- vm.selectedColumns.includes(vm.itemStatInfo[i].short) ? '' : ' ng-cloak' %> title="<%=vm.itemStatInfo[i].display%>" nowrap><%= vm.itemStatInfo[i].short %>&nbsp;
                                                    <% if (vm.query.sortBy === vm.itemStatInfo[i].var) { %>
                                                    <i class="fas fa-sort-<%- (vm.query.sortAsc === 'true') ? "up" : "down" %>"></i>
                                                    <% } else if (!vm.query.sortBy) { %>
                                                    <i class="fas fa-sort"></i>
                                                    <% } %>
                                                    <i class=""></i>
                                                </th>
                                                <% } %>
											</tr>
										</thead>
										<tbody>
                                        <% for (let i = 0; i < vm.results.length; ++i) { %>
                                            <tr ng-click="onItemClicked(<%- vm.results[i].id %>)" style="cursor: pointer;">
                                                <% for (let j = 0; j < vm.itemStatInfo.length; ++j) {
                                                    let stat = vm.itemStatInfo[j];
                                                %>
                                                <% if (stat.var === "name") { %>
                                                <td class="text-primary font-weight-bold" ng-if="showColumn('<%- stat.short %>', <%- vm.selectedColumns.includes(stat.short) %>)"<%- vm.selectedColumns.includes(stat.short) ? '' : ' ng-cloak' %>>
                                                <% } else if (stat.var === "alignRestriction") { %>
                                                <td class="text-center text-monospace" ng-if="showColumn('<%- stat.short %>', <%- vm.selectedColumns.includes(stat.short) %>)"<%- vm.selectedColumns.includes(stat.short) ? '' : ' ng-cloak' %>>
                                                <% } else { %>
                                                <td class="text-center" ng-if="showColumn('<%- stat.short %>', <%- vm.selectedColumns.includes(stat.short) %>)"<%- vm.selectedColumns.includes(stat.short) ? '' : ' ng-cloak' %>>
                                                <% } %>
                                                    <%
                                                        if (stat.type === 'bool') {
                                                    %>
                                                    <span>
                                                        <% if (vm.results[i][stat.var] == 1) { %>
                                                        <i class="text-success fas fa-check"></i>
                                                        <% } else { %>
                                                        <i class="text-danger fas fa-times"></i>
                                                        <% } %>
                                                    </span>
                                                    <% } else if (stat.type === 'select') { %>
                                                    <% if (stat.var === 'alignRestriction') { %>
                                                    <span style="white-space: pre"><%- vm.constants.selectShortOptions[stat.var][vm.results[i][stat.var]].replace(/\s/g, "&nbsp;") %></span>
                                                    <% } else { %>
                                                    <span>
                                                        <%= vm.constants.selectShortOptions[stat.var][vm.results[i][stat.var]] %>
                                                    </span>
                                                    <% } %>
                                                    <% } else if (stat.type === 'int' || stat.type === 'decimal' || stat.type === 'string') { %>
                                                    <span><%= vm.results[i][stat.var] %></span>
                                                    <% } %>
                                                    <% if (stat.var === "name") { %>
                                                    <a class="float-right" href="/items/details.html?id=<%-vm.results[i].id%>" target="_blank" ng-click="$event.stopPropagation()"><i class="fas fa-external-link-alt fa-lg"></i></a>
                                                    <% } %>
                                                </td>
                                                <% } %>
                                            </tr>
                                        <% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<br>
                    <%-include("../shared/pagination", {baseUrl: pageBaseUrl, page: vm.page, rows: vm.rows, resultLength: vm.results.length, moreResults: vm.moreResults})%>
                    <br><br>
				</div>
			</div>
		</div>
	</div>
    <%-include('../shared/columnsModal')-%>
    <%-include('../shared/filtersModal')-%>
    <%-include('../shared/footer')-%>
    <%-include('../shared/scripts')-%>
	<script src="/js/controllers/items/main.js?v=<%-locals.version%>"></script>
</body>
</html>

