<!doctype html>
<html lang="en">
    <head>
        <%-include("../shared/meta")-%>
    </head>
    <body ng-app="legendwiki-app" ng-controller="account">
        <%-include("../shared/header")-%>
        <div class="container">
            <div class="row text-center">
                <h1>Account Settings</h1>
            </div>
            <!-- Notifications -->
            <div class="row py-3 border-bottom border-primary">
                <div class="col-lg-4" ng-class="{'col-4': !editingNotifications, 'col-12': editingNotifications}">
                    <!-- display heading -->
                    <h4>Notifications</h4>
                </div>
                <div ng-class="{'offset-4 col-4': !editingNotifications, 'col-12 col-lg-8': editingNotifications}" ng-cloak>
                    <div class="row no-gutters">
                        <!-- display edit button -->
                        <button type="button" class="btn btn-default btn-block" ng-show="!editingNotifications" ng-click="editingNotifications = true">Edit</button>
                        <!-- edit notification data -->
                        <div class="col-12" ng-show="editingNotifications">
                            <div class="row mb-3">
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="itemAddedInput">Item Added</label>
                                    </div>
                                    <select class="custom-select" id="itemAddedInput" ng-model="notificationSettings.itemAdded">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.itemAdded">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="itemAddedInput">Item Updated</label>
                                    </div>
                                    <select class="custom-select" id="itemUpdatedInput" ng-model="notificationSettings.itemUpdated">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.itemUpdated">{{option.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="mobAddedInput">Mob Added</label>
                                    </div>
                                    <select class="custom-select" id="mobAddedInput" ng-model="notificationSettings.mobAdded">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.mobAdded">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="mobUpdatedInput">Mob Updated</label>
                                    </div>
                                    <select class="custom-select" id="mobUpdatedInput" ng-model="notificationSettings.mobUpdated">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.mobUpdated">{{option.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="questAddedInput">Quest Added</label>
                                    </div>
                                    <select class="custom-select" id="questAddedInput" ng-model="notificationSettings.questAdded">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.questAdded">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="questUpdatedInput">Quest Updated</label>
                                    </div>
                                    <select class="custom-select" id="questUpdatedInput" ng-model="notificationSettings.questUpdated">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.questUpdated">{{option.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="wikiPageAddedInput">Wiki Page Added</label>
                                    </div>
                                    <select class="custom-select" id="wikiPageAddedInput" ng-model="notificationSettings.wikiPageAdded">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.wikiPageAdded">{{option.Name}}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="wikiPageUpdatedInput">Wiki Page Updated</label>
                                    </div>
                                    <select class="custom-select" id="wikiPageUpdatedInput" ng-model="notificationSettings.wikiPageUpdated">
                                        <option ng-repeat="option in notificationOptions | orderBy:'Value'" ng-value="option.Value" ng-selected="option.Value == notificationSettings.wikiPageUpdated">{{option.Name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" ng-show="editingNotifications">
                        <div class="col-12 col-md-6">
                            <button type="button" class="btn btn-primary btn-block" ng-click="saveNotifications(notificationSettings)">Save</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button type="button" class="btn btn-link btn-block" ng-click="cancelNotifications()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-lg-4" ng-class="{'col-4': !editingPassword, 'col-12': editingPassword}">
                    <!-- display heading -->
                    <h4>Password</h4>
                </div>
                <div ng-class="{'offset-4 col-4': !editingPassword, 'col-12 col-lg-8': editingPassword}" ng-cloak>
                    <div class="row no-gutters">
                        <!-- display edit button -->
                        <button type="button" class="btn btn-default btn-block" ng-show="!editingPassword" ng-click="editingPassword = true">Change</button>
                        <!-- edit password -->
                        <form name="editPasswordForm" class="col-12 offset-md-6 col-md-6" ng-show="editingPassword">
                            <div class="row mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="oldPasswordInput">Old Password</label>
                                    </div>
                                    <input type="password" class="form-control" name="oldPasswordInput" id="oldPasswordInput" ng-model="oldPassword" required>
                                </div>
                                <p class="text-danger" ng-show="dbfail">Password is invalid.</p>
                            </div>
                            <div class="row mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="newPasswordInput">New Password</label>
                                    </div>
                                    <input type="password" class="form-control" name="newPasswordInput" id="newPasswordInput" ng-model="newPassword" ng-change="onPasswordChanged()" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="confirmPasswordInput">Confirm Password</label>
                                    </div>
                                    <input type="password" class="form-control" name="confirmPasswordInput" id="confirmPasswordInput" ng-model="confirmPassword" ng-change="onPasswordChanged()" required>
                                </div>
                                <p class="text-danger" ng-show="editPasswordForm.confirmPasswordInput.$error.matches">New passwords do not match.</p>
                            </div>
                        </form>
                    </div>
                    <div class="row" ng-show="editingPassword">
                        <div class="col-12 col-md-6">
                            <button type="button" class="btn btn-primary btn-block" ng-disabled="!editPasswordForm.$valid" ng-click="savePassword(oldPassword, newPassword)">Save</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button type="button" class="btn btn-link btn-block" ng-click="editingPassword = false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include("../shared/footer")-%>
        <%-include("../shared/scripts")-%>
        <script src="/js/controllers/account/main.js?<%-locals.version%>"></script>
    </body>
</html>
