<!doctype html>
<html lang="en" style="height: 100%;">
<head>
    <%- include('./shared/meta') %>
    <link href="https://www.legendhub.org/login.html" rel="canonical">
</head>
<body ng-app="legendwiki-app" ng-controller="login" style="height: 100%;">
    <%-include("./shared/header")-%>
	<div class="container">
		<div class="row h-100 align-items-center">
			<div id="accordion" class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
				<form action="/login.html" method="POST" class="card" name="login">
                    <div class="card-header" id="loginHeading" style="cursor: pointer;" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="<%-!vm.register_error%>"
					    aria-controls="loginCollapse registerCollapse">
						<h3 class="text-center">Login</h3>
					</div>
                    <div id="loginCollapse" class="collapse multi-collapse<%-vm.register_error?'':' show'%>" aria-labelledby="loginHeading" data-parent="#accordion">
						<div class="card-body">
							<div class="input-group">
								<div class="input-group-prepend">
									<label class="input-group-text" id="login_usernameLabel" for="login_username">Username</label>
								</div>
                                <input id="login_username" name="login_username" type="text" class="form-control" aria-describedby="login_usernameLabel" value="<%-vm.body.login_username%>" required autofocus>
							</div>
							<br />
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="login_passwordLabel" for="login_password">Password</span>
								</div>
                                <input id="login_password" name="login_password" type="password" class="form-control" aria-describedby="login_passwordLabel" value="<%-vm.body.login_password%>" required>
							</div>
                            <% if (vm.login_error) {%>
                            <div class="text-danger"><%=vm.login_error%></div>
                            <%}%>
                            <% if (vm.login_message) {%>
                            <div class="text-success"><%=vm.login_message%></div>
                            <%}%>
							<div class="custom-control custom-checkbox mt-2 mb-3">
								<input id="login_stayLoggedIn" name="login_stayLoggedIn" type="checkbox" class="custom-control-input">
								<label class="custom-control-label clickable" for="login_stayLoggedIn">Stay logged in</label>
							</div>
							<button type="submit" class="btn btn-block btn-primary col">Login</button>
						</div>
					</div>
				</form>
				<form action="/login.html" method="POST" class="card" name="register">
					<div class="card-header" id="registerHeading" style="cursor: pointer;" data-toggle="collapse" data-target=".multi-collapse"
                                                                                                                  aria-expanded="<%-!!vm.register_error%>" aria-controls="loginCollapse registerCollapse">
						<h3 class="text-center">Register</h3>
					</div>
                    <div id="registerCollapse" class="collapse multi-collapse<%-vm.register_error?' show':''%>" aria-labelledby="registerHeading" data-parent="#accordion">
						<div class="card-body">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="register_usernameLabel" for="register_username">Username</span>
								</div>
                                <input id="register_username" name="register_username" pattern="^[A-Za-z0-9]*$" type="text" class="form-control" aria-describedby="register_usernameLabel" value="<%-vm.body.register_username%>" required>
							</div>
							<br />
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="register_passwordLabel" for="register_password">Password</span>
								</div>
								<input id="register_password" name="register_password" type="password" class="form-control" aria-describedby="passwordLabel" required>
							</div>
							<br />
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="register_confirmPasswordLabel" for="register_confirmPassword">Confirm</span>
								</div>
								<input id="register_confirmPassword" name="register_confirmPassword" type="password" class="form-control" aria-describedby="register_confirmPasswordLabel" required>
							</div>
                            <!-- TODO replace with ejs errors -->
                            <% if (vm.register_error) {%>
                            <div class="text-danger"><%=vm.register_error%></div>
                            <%}%>
							<br />
                            <div class="form-group g-recaptcha" data-sitekey="6LfOiagUAAAAAMNwYON-jVDmRN0fGFbuHbwa61pa"></div>
							<button type="submit" class="btn btn-primary btn-block col">Register</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    <br><br>
	</div>
    <%-include("./shared/footer")-%>
    <%-include("./shared/scripts")-%>
    <script src="/js/controllers/login.js?v=<%-locals.version%>"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>
