<!doctype html>
<html lang="en">
    <head>
        <%-include("../shared/meta")-%>
        <link href="https://www.legendhub.org/notifications/index.html" rel="canonical">
        <meta name="robots" content="none">
    </head>
    <body ng-app="legendwiki-app">
        <%-include("../shared/header")-%>
        <div class="container">
            <h1 class="text-center">All Notifications</h1>
            <br/>
            <div class="list-group">
                <%for (let i = 0; i < vm.results.length; ++i) {%>
                <a href="<%-vm.results[i].link%>" class="list-group-item list-group-item-action flex-column align-items-stretch<%-vm.results[i].read?"":" list-group-item-secondary"%>">
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mr-3"><%-vm.results[i].message%><%if(!vm.results[i].read){%>&nbsp;&nbsp;<span class="badge badge-primary">UNREAD</i><%}%></p>
                        <div class="text-info">
                            <p class="mb-0" style="white-space:nowrap"><small><%-locals.displayDateTime(vm.results[i].createdOn)%></small></p>
                        </div>
                    </div>
                </a>
                <%}%>
            </div>
            <br><br>
        </div>
        <%-include("../shared/footer")-%>
        <%-include("../shared/scripts")-%>
    </body>
</html>
