<!doctype html>
<html lang="en">
    <head>
        <%-include("../shared/meta");-%>
        <%if (vm.wikiPage) {%>
        <link href="https://www.legendhub.org/wiki/edit.html?id=<%-vm.wikiPage.id%>" rel="canonical">
        <%}else{%>
        <link href="https://www.legendhub.org/wiki/add.html" rel="canonical">
        <%}%>
        <meta name="robots" content="none">
    </head>
    <body ng-app="legendwiki-app" ng-controller="wiki-modify">
        <%-include("../shared/header");-%>
        <div class="container">
            <form name="wikiForm" ng-submit="<%-(vm.wikiPage ? "editWikiPage(wikiPage)" : "addWikiPage(wikiPage)")%>" ng-cloak>
                <div class="form-row">
                    <%if (vm.wikiPage) {%>
                    <h1>Edit Wiki Page</h1>
                    <%} else {%>
                    <h1>Add Wiki Page</h1>
                    <%}%>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Title</span>
                            </div>
                            <input class="form-control" type="text" name="title" ng-model="wikiPage.title" ng-class="{'is-invalid': wikiForm.title.$invalid}" required lh-autofocus>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Category</span>
                            </div>
                            <select class="form-control" name="category" ng-model="wikiPage.categoryId" ng-class="{'is-invalid': wikiForm.category.$invalid}" ng-change="onCategoryChanged()" required>
                                <%for (let i = 0; i < vm.categories.length; ++i) {%>
                                <option ng-value="<%-vm.categories[i].id%>"><%=vm.categories[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row" ng-show="subcategories[wikiPage.categoryId].length > 0" ng-cloak>
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Subcategory</span>
                            </div>
                            <select class="form-control" name="subcategory" ng-model="wikiPage.subcategoryId" ng-class="{'is-invalid': wikiForm.subcategory.$invalid}" ng-required="subcategories[wikiPage.categoryId].length > 0">
                                <option ng-repeat="subcategory in subcategories[wikiPage.categoryId]" ng-value="subcategory.id">{{subcategory.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <span class="text-info">Use a semicolon to split multiple tags.</span>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tags</span>
                            </div>
                            <input class="form-control" type="text" name="tags" ng-model="wikiPage.tags" min="0" ng-class="{'is-invalid': wikiForm.tags.$invalid}">
                        </div>
                    </div>
                </div>
                <br>
                <span>This field supports <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax" target="_blank">markdown</a> and <a href="https://github.com/showdownjs/showdown/wiki/Emojis" target="_blank">emoji</a>.</span>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Content</span>
                            </div>
                            <textarea class="form-control" rows="10" ng-model="wikiPage.content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="card">
                            <div class="card-header">Preview</div>
                            <div class="card-body" markdown-to-html="wikiPage.content"></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <button class="btn btn-primary btn-block col-12 offset-md-8 col-md-4 offset-lg-10 col-lg-2" type="submit" ng-disabled="<%-(vm.wikiPage ? "!canEdit()" : "!canAdd()")%>">Save</button>
                </div>
                <br><br>
            </form>
        </div>
        <%-include("../shared/footer");-%>
        <%-include("../shared/scripts");-%>
        <%-include("../shared/markdown");-%>
        <script>
            app.controller("wiki-modify", ["$scope", "$http", "$cookies", function($scope, $http, $cookies) {
                let initialize = function() {
                    <%_if (vm.wikiPage) {%>
                        $scope.wikiPage = {
                            id:<%-vm.wikiPage.id%>,
                            title:"<%-vm.wikiPage.title.replace(/"/g,"\\\"")%>",
                            categoryId:<%-vm.wikiPage.categoryId%>,
                            subcategoryId:<%-vm.wikiPage.subcategoryId === 0 ? "null": vm.wikiPage.subcategoryId%>,
                            tags:"<%-vm.wikiPage.tags%>",
                            content:"<%-vm.wikiPage.content.replace(/\\/g,"\\\\").replace(/"/g,"\\\"").replace(/\n/g,"\\n")%>",
                        };
                        $scope.initialWikiPage = angular.copy($scope.wikiPage);
                    <%_} else {_%>
                        $scope.wikiPage = {
                            tags: "",
                            content: ""
                        };
                    <%_}_%>
                        $scope.subcategories = {
                            <%_for (let i = 0; i < vm.categories.length; ++i) {_%>
                            <%-vm.categories[i].id%>: [
                                <%_for (let j = 0; j < vm.categories[i].getSubcategories.length; ++j) {_%>
                                {id:<%-vm.categories[i].getSubcategories[j].id%>,name:"<%-vm.categories[i].getSubcategories[j].name%>"},
                                <%_}%>
                            ],
                            <%_}_%>
                        };
                };

                <%_if (vm.wikiPage) {_%>
                    $scope.canEdit = function() {
                        return $scope.wikiForm.$valid && angular.toJson($scope.wikiPage) !== angular.toJson($scope.initialWikiPage);
                    };

                    $scope.editWikiPage = function(wikiPage) {
                        if (!$scope.canEdit())
                            return;

                        let query = [
                            "mutation {",
                                "updateWikiPage(id:",wikiPage.id,",",
                                "authToken:\"",$cookies.get("loginToken"),"\",",
                                "title:\"",wikiPage.title,"\",",
                                "categoryId:",wikiPage.categoryId,",",
                                "subcategoryId:",wikiPage.subcategoryId === null ? "null" : wikiPage.subcategoryId,",",
                                "tags:\"",wikiPage.tags,"\",",
                                "content:\"\"\"",wikiPage.content,"\"\"\") {",
                                    "token ",
                                    "expires",
                                "}",
                            "}"
                        ];
                        console.log(query.join(""));
                        $http({
                            url: "/api",
                            method: "POST",
                            data: {"query": query.join("")}
                        }).then((response) => {
                            let data = response.data.data.updateWikiPage;
                            let newToken = data.token;
                            let expireDate = data.expires;
                            $cookies.put("loginToken", newToken, {"path": "/", "expires": expireDate, "secure": true, "samesite": "strict"});
                            window.location = "/wiki/details.html?id=" + wikiPage.id;
                        });
                    };
                <%_} else {_%>
                    $scope.canAdd = function() {
                        return $scope.wikiForm.$valid;
                    };

                    $scope.addWikiPage = function(wikiPage) {
                        if (!$scope.canAdd())
                            return;

                        let query = [
                            "mutation {",
                                "insertWikiPage(authToken:\"",$cookies.get("loginToken"),"\",",
                                "title:\"",wikiPage.title,"\",",
                                "categoryId:",wikiPage.categoryId,",",
                                "subcategoryId:",wikiPage.subcategoryId === null ? "null" : wikiPage.subcategoryId,",",
                                "tags:\"",wikiPage.tags,"\",",
                                "content:\"\"\"",wikiPage.content,"\"\"\") {",
                                    "id ",
                                    "tokenRenewal {",
                                        "token ",
                                        "expires",
                                    "}",
                                "}",
                            "}"
                        ];
                        $http({
                            url: "/api",
                            method: "POST",
                            data: {"query": query.join("")}
                        }).then((response) => {
                            let data = response.data.data.insertWikiPage;
                            let newToken = data.tokenRenewal.token;
                            let expireDate = data.tokenRenewal.expires;
                            $cookies.put("loginToken", newToken, {"path": "/", "expires": expireDate, "secure": true, "samesite": "strict"});
                            window.location = "/wiki/details.html?id=" + data.id;
                        });
                    };
                <%_}_%>

                $scope.onCategoryChanged = function() {
                    $scope.wikiPage.subcategoryId = null;
                };

                initialize();
            }]);
        </script>
    </body>
</html>
