<!doctype html>
<html lang="en">
    <head>
        <%-include("../shared/meta");-%>
        <%if (vm.quest.id) {%>
        <link href="https://www.legendhub.org/quests/edit.html?id=<%-vm.quest.id%>" rel="canonical">
        <%}else{%>
        <link href="https://www.legendhub.org/quests/add.html" rel="canonical">
        <%}%>
        <meta name="robots" content="none">
    </head>
    <body ng-app="legendwiki-app" ng-controller="ModifyQuestsController as modifyQuests" ng-init="modifyQuests.init(<%=JSON.stringify(vm.quest)%>)">
        <%-include("../shared/header");-%>
        <div class="container">
            <form name="questForm" ng-submit="modifyQuests.submit()">
                <div class="form-row">
                    <%if (vm.quest.id) {%>
                    <h1>Edit Quest</h1>
                    <%} else {%>
                    <h1>Add Quest</h1>
                    <%}%>
                </div>
                <span class="text-info">You can assign this quest to an item on the item edit page.</span>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Title</span>
                            </div>
                            <input class="form-control" type="text" name="title" ng-model="modifyQuests.quest.title" ng-class="{'is-invalid': questForm.title.$invalid}" required lh-autofocus>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Area</span>
                            </div>
                            <select class="form-control" name="area" ng-model="modifyQuests.quest.areaId" ng-class="{'is-invalid': questForm.area.$invalid}" required>
                                <%for (let i = 0; i < vm.areas.length; ++i) {%>
                                <option ng-value="<%-vm.areas[i].id%>"><%=vm.areas[i].name%><%=(vm.areas[i].eraName ? ` (${vm.areas[i].eraName})`:"")%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                </div>
                <span class="text-info">Use a semicolon to split multiple whoises.</span>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Whoises</span>
                            </div>
                            <input class="form-control" type="text" name="whoises" ng-model="modifyQuests.quest.whoises" ng-class="{'is-invalid': questForm.whoises.$invalid}">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Stat Quest</span>
                            </div>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <input type="checkbox" ng-model="modifyQuests.quest.stat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <span>This field supports <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax" target="_blank">markdown</a> and <a href="https://github.com/showdownjs/showdown/wiki/Emojis" target="_blank">emoji</a>.</span>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Content</span>
                            </div>
                            <textarea class="form-control" rows="10" ng-model="modifyQuests.quest.content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="card">
                            <div class="card-header">Preview</div>
                            <div class="card-body" markdown-to-html="modifyQuests.quest.content"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary btn-block col-12 offset-md-8 col-md-4 offset-lg-10 col-lg-2" type="submit" ng-disabled="!modifyQuests.canSubmit()">Save</button>
                </div>
                <br><br>
            </form>
        </div>
        <%-include("../shared/footer");-%>
        <%-include("../shared/scripts");-%>
        <%-include("../shared/markdown");-%>
        <script>
            (function() {
                angular
                    .module("legendwiki-app")
                    .controller("ModifyQuestsController", ModifyQuestsController);

                ModifyQuestsController.$inject = ["$scope", "$http", "$cookies"];

                function ModifyQuestsController($scope, $http, $cookies) {
                    var vm = this;

                    vm.init = init;
                    vm.canSubmit = canSubmit;
                    vm.submit = submit;

                    function init(quest) {
                        vm.edit = quest.id != null;

                        vm.quest = quest;
                        vm.initialQuest = angular.copy(vm.quest);
                    };

                    function canEdit() {
                        return $scope.questForm.$valid && angular.toJson(vm.quest) !== angular.toJson(vm.initialQuest);
                    };

                    function editQuest() {
                        if (!canEdit())
                            return;

                        let query = [
                            "mutation {",
                                "updateQuest(id:",vm.quest.id,",",
                                "authToken:\"",$cookies.get("loginToken"),"\",",
                                "title:\"",vm.quest.title,"\",",
                                "areaId:",vm.quest.areaId,",",
                                "whoises:\"",vm.quest.whoises,"\",",
                                "stat:",vm.quest.stat ? "true" : "false",",",
                                "content:\"\"\"",vm.quest.content,"\"\"\") {",
                                    "token ",
                                    "expires",
                                "}",
                            "}"
                        ];
                        $http({
                            url: "/api",
                            method: "POST",
                            data: {"query": query.join("")}
                        }).then((response) => {
                            let data = response.data.data.updateQuest;
                            let newToken = data.token;
                            let expireDate = data.expires;
                            $cookies.put("loginToken", newToken, {"path": "/", "expires": expireDate, "secure": true, "samesite": "lax"});
                            window.location = "/quests/details.html?id=" + vm.quest.id;
                        });
                    };
                    
                    function canAdd() {
                        return $scope.questForm.$valid;
                    };

                    function addQuest() {
                        if (!canAdd())
                            return;

                        let query = [
                            "mutation {",
                                "insertQuest(authToken:\"",$cookies.get("loginToken"),"\",",
                                "title:\"",vm.quest.title,"\",",
                                "areaId:",vm.quest.areaId,",",
                                "whoises:\"",vm.quest.whoises,"\",",
<<<<<<< HEAD
                                "stat:",vm.quest.stat,",",
=======
                                "stat:",vm.quest.stat ? "true" : "false",",",
>>>>>>> fc71c7c1676eb314c0652390eaab537fb141fef5
                                "content:\"\"\"",vm.quest.content,"\"\"\") {",
                                    "id ",
                                    "tokenRenewal {",
                                        "token ",
                                        "expires",
                                    "}",
                                "}",
                            "}"
                        ];
                        
                        $http({
                            url: "/api",
                            method: "POST",
                            data: {"query": query.join("")}
                        }).then((response) => {
                            let data = response.data.data.insertQuest;
                            let newToken = data.tokenRenewal.token;
                            let expireDate = data.tokenRenewal.expires;
                            $cookies.put("loginToken", newToken, {"path": "/", "expires": expireDate, "secure": true, "samesite": "lax"});
                            window.location = "/quests/details.html?id=" + data.id;
                        });
                    };

                    function canSubmit() {
                        return vm.edit ? canEdit() : canAdd();
                    };

                    function submit() {
                        if (vm.edit)
                            editQuest();
                        else
                            addQuest();
                    };
                };
            })();
        </script>
    </body>
</html>
